@media (min-width: 300px) {
  h2 {
    font-size: 1.0rem;
  }

  #imgArticle {
    max-height: 400px !important;
  }

}

@media (min-width: 576px) {
  h2 {
    font-size: 1.1rem;
  }

  #imgArticle {
    max-height: 500px !important;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.2rem;
  }

  #imgArticle {
    max-height: 600px !important;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 1.3rem;
  }

  #imgArticle {
    max-height: 650px !important;
  }
}

h2 {
  white-space: break-spaces;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif !important;
  padding-top: 65px !important;
}

#imgArticle {
  width: 100%;
}