#prodInterni {
  font-size: 1rem;
}

@media (min-width: 576px) {
  #prodInterni {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  #prodInterni {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  #prodInterni {
    font-size: 1.5rem;
  }

  #article {
    max-height: 400px;
    overflow: hidden;
  }

  div img {
    max-height: 300px;
  }
}


body {
  font-family: "Roboto", sans-serif !important;
  padding-top: 65px !important;
}

#articleDesc {
  max-height: 25em;
}

p {
  max-height: 13em;
  text-overflow: ellipsis;
  overflow: hidden;
}

div>div>div>p>a,
div>div>div>p>a:hover,
div>div.flex-row-reverse>a,
div>div.flex-row-reverse>a:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  outline: inherit;
  box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit;
}