#navbarToggleMenu {
    position: fixed;
    top: 54px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
    z-index: 1030;
}

#navbarToggleMenu.collapsing {
    height: 100%;
    left: -75%;
    transition: height 0s ease;
}

#navbarToggleMenu.show {
    height: 100%;
    left: 0;
    transition: left 400ms ease-in-out;
}

#navbarToggleMenu.collapsed~#navbarToggleMenu.navbar-collapse {
    transition: left 400ms ease-in;
}

@media (min-width: 320px) {
    #navbarToggleNotif {
        position: fixed;
        top: 54px;
        right: 0;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        height: 100%;
        z-index: 1030;
    }
    #navbarToggleNotif.collapsing {
        height: 100%;
        right: -75%;
        transition: height 0s ease;
    }
    #navbarToggleNotif.show {
        height: 100%;
        right: 0;
        transition: right 400ms ease-in-out;
    }
    #navbarToggleNotif.collapsed~#navbarToggleNotif.navbar-collapse {
        transition: right 400ms ease-in;
    }
}

@media (min-width: 768px) {
    #navbarToggleNotif {
        position: fixed;
        top: 54px;
        right: 0;
        width: 22%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        height: 100%;
        z-index: 1030;
    }
    #navbarToggleNotif.collapsing {
        height: 100%;
        right: -75%;
        transition: height 0s ease;
    }
    #navbarToggleNotif.show {
        height: 100%;
        right: 0;
        transition: right 400ms ease-in-out;
    }
    #navbarToggleNotif.collapsed~#navbarToggleNotif.navbar-collapse {
        transition: right 400ms ease-in;
    }
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount,
#updateNotif {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}