#offerteNatalizie,
#prodottiEvidenza,
#nuoviArrivi {
  font-size: 1rem;
}

@media (min-width: 300px) {

  #offerteNatalizie,
  #prodottiEvidenza,
  #nuoviArrivi {
    font-size: 1.2rem;
  }

  .carousel-inner {
    max-height: 200px;
  }
}

@media (min-width: 576px) {

  #offerteNatalizie,
  #prodottiEvidenza,
  #nuoviArrivi {
    font-size: 1.2rem;
  }

  .carousel-inner {
    max-height: 400px;
  }
}

@media (min-width: 768px) {

  #offerteNatalizie,
  #prodottiEvidenza,
  #nuoviArrivi {
    font-size: 1.4rem;
  }

  .carousel-inner {
    max-height: 500px;
  }
}

@media (min-width: 992px) {

  #offerteNatalizie,
  #prodottiEvidenza,
  #nuoviArrivi {
    font-size: 1.5rem;
  }

  .carousel-inner {
    max-height: 600px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif !important;
  padding-top: 65px !important;
}

.carousel img {
  width: 100%;
  height: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}