   
html, body{
    height: 100%;
}
    
body {
    font-family: "Roboto", sans-serif !important;
    padding-top: 65px !important;
}
    
#articleImg{
    width:100%;
    max-height: 600px !important;
}
    
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
    
.image-area {
    border: 2px dashed black;
    padding: 1rem;
    position: relative;
}
    
.image-area::before {
    content: 'Uploaded image result';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
     z-index: 2;
    position: relative;
}
