#imageResult {
    max-width: 256px;
    max-height: 256px;
}

#profileLab,
#updateInt,
#trashInt {
    font-size: 1rem;
}

@media (min-width: 576px) {

    #profileLab,
    #updateInt,
    #trashInt {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {

    #profileLab,
    #updateInt,
    #trashInt {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {

    #profileLab,
    #updateInt,
    #trashInt {
        font-size: 1.5rem;
    }
}

body {
    font-family: "Roboto", sans-serif !important;
    padding-top: 65px !important;
}